
:root{

  --bs-form-customs-font-main-title: #454248;
  --bs-form-customs-font-paragraph: #5D6370;
  --bs-form-customs-place-holder: rgba(89,102,139,0.67);
  --bs-form-customs-warning: #c54d4d;
  --bs-form-customs-bg-nb: #010409;
  --bs-form-customs-bg-main: #0d1117;
  --bs-form-customs-bg-accent: #30343a;
  --bs-form-customs-bg-orange: #f25e30;

  --root-custom-color-mainBackground: #fdfdfd;
  --root-custom-color-menu: #f5f5f5;
  --root-custom-color-accent: #d3d8e2;
  --root-custom-color-cold-blue: #2ab4e6;
  --root-custom-color-dark-blue: #1a6be5;
  --root-custom-color-text: #5c6984;
}
.h1{
  font-size: calc(1.675rem + 1.5vw);
}


.h2 {
  font-size: 3vw;
}

.h3{
  font-size: calc(1.3rem + .6vw);
}


.h4{
  font-size: calc(1.275rem + .3vw);

}

.h5 {
  font-size: 1.25rem;

}
.h6{
  font-size: 0.8rem;
}

.h1, .h2, .h3, .h4, .h5, .h6{
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}



.bs-form-customs-mainBackground{
  background-color: var(--bs-form-customs-bg-main);
  height: 100vh;
}


